body {
  background-color: #ecf0f1;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul, ol {
  list-style: none;
}

.flash-message {
  text-align: center;
}

.form-heading {
  margin-bottom: 40px;
  padding-top: 20px;
}

.my-container {
  margin-top: 120px;
}

.my-col {
  border: 1px solid black;
}

.my-row {
  text-align: center;
}

.login-row {
  margin-top: 120px;
  text-align: center;
}

.section-head-top {
    padding-top: 5em;
}

.section-head-top-1 {
    padding-top: 5em;
    padding-bottom: 2em;
}

.bg-steel {
  background-color: #16a085;
}

.site-header .navbar-nav .nav-link {
  font-size: 1.5em;
  color: #444444;
  line-height: 70px;
  clear: right;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.results{
  padding-top: 40px;
  padding-bottom: 40px;
}

/*
  Extended and Minimal Forms
  @main.route("/forms", "/new")
*/
.extended-form {
  display: none;
}


/*
  Mobile Version
*/

.label-ham {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 800px) {
  .label-ham {
    display: block;
    cursor: pointer;
  }
  .icon-bar {
    display: none;
  }
  .navbar-nav {
    display: none;
    text-align: center;
    width: 100%;
  }
  .navbar-nav a {
    display: block;
    margin: 40px 0 0 0;
  }

  #toggle:checked + .navbar-nav {
    display: block;
  }
}

/*
  Sticky Social Bar
*/
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #16a085;
  color: white;
}

.google {
  background: #16a085;
  color: white;
}

.twitter {
  background: #16a085;
  color: white;
}
