body {
  background-color: #ecf0f1;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul, ol {
  list-style: none;
}
.flash-message {
  text-align: center;
}

.form-heading {
  margin-bottom: 40px;
  padding-top: 20px;
}

.my-container {
  margin-top: 60px;
  height: 80vh;
}

#page-container {
  position: relative;
  min-height: 80vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: center;
}

.my-col {
  border: 1px solid black;
}

.my-row {
  border: 1px solid black;
  text-align: center;
}

.section-head-top {
    padding-top: 5em;
}

.section-head-top-1 {
    padding-top: 5em;
    padding-bottom: 2em;
}

.bg-steel {
  background-color: #16a085;
}

.site-header .navbar-nav .nav-link {
  font-size: 1.5em;
  color: #444444;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.results{
  padding-top: 40px;
  padding-bottom: 40px;
}

/*
  Tables
*/
