{% extends "layout.html" %}

{% block content %}

<table class="table" style="margin-top: 120px;">
  <thead class="thead-light">
    <tr>
      <th>Client ID</th>
      <th>Family Size</th>
      <th>Family Name</th>
      <th>Date Created</th>
    </tr>
  </thead>

  <tbody>
    <h1>{{ client_id }}</h1>
    {% for datapoints in u %}
    <tr>
      <td>{{ datapoints.id }}</td>
      <td>{{ datapoints.family_size }}</td>
      <td>{{ datapoints.family_name }}</td>
      <td>{{ datapoints.date_created }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table" style="margin-top: 40px;">
  <thead class="thead-light">
    <tr>
      <th>Client ID</th>
      <th>Served by</th>
      <th>Timestamp</th>
    </tr>
  </thead>

  <tbody>
    <h1>{{ client_id }}</h1>
    {% for datapoints in u2 %}
    <tr>
      <td>{{ datapoints.user_id }}</td>
      <td>{{ datapoints.organization }}</td>
      <td>{{ datapoints.timestamp.strftime('%m-%d-%Y') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
